body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-xs: 12px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-gray-100: #fffefe;
  --color-gray-200: #1b1a1a;
  --color-gray-300: #1a1a1a;
  --color-white: #fff;

  /* Gaps */
  --gap-8xs: 5px;

  /* border radiuses */
  --br-6xl: 25px;
}
